div {
    border: 3px;
    border-radius: 10px;
    padding: 5px;
    color: #000000;
}

/* 摇摆加缩放动画 */

@keyframes xie {
    0% {
        transform: rotate(15deg) scale(1)
    }
    25% {
        transform: rotate(-15deg) scale(0.9)
    }
    50% {
        transform: rotate(15deg) scale(1.1)
    }
    70% {
        transform: rotate(-15deg) scale(0.9)
    }
    100% {
        transform: rotate(15deg) scale(1)
    }
}

/*摇摆动画*/
@keyframes xie2 {
    0% {
        transform: rotate(-8deg)
    }
    25% {
        transform: rotate(8deg)
    }
    50% {
        transform: rotate(-8deg)
    }
    70% {
        transform: rotate(8deg)
    }
    100% {
        transform: rotate(-8deg)
    }
}

@keyframes myfirst {
    0% {
        background: #3c2dff;
    }
    50% {
        background: #b51aff;
    }
    70% {
        background: rgba(15, 160, 255, 0.55);
    }
    100% {
        background: #3c2dff;
    }
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    from {
        background: red;
    }
    to {
        background: yellow;
    }
}

/*导航栏*/
.navbar {
    background-color: #5bc2dd;

}

body {
    margin-top: 70px;
    background: url(../image/bg1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;

}

/*浮动窗口*/
#scroll {
    font-weight: 700;
    position: fixed;
    top: 100px;
    left: 2px;
    background-color: rgba(200,200,200,0.5);
}

#scroll li.current-menu-item {
    background-color: #24bb9e;
    border-radius: 5px;

}

/*主页面*/
#right-bar h1 {
    font-weight: bold;
}

#nav li.current-menu-item {
    display: block;
    background-color: #15bb5c;
    border-radius: 5px;
    box-shadow: white 3px 3px 5px;

}

#home, #kic, #liv, #bath, #bed {
    box-shadow: #3d3d3a 5px 5px 10px;
    margin-bottom: 6px;
}

#nav li.current-menu-item a {
    font-weight: bold;
    color: white;
}

/*Home主页*/
#home {
    background-color: #2bce8f;
    text-align: center;


}
#home .row h3{
    cursor: pointer;
    color: #fff5d4;
}
#home h3{

}

/*动画设置*/
#home_mod {
    cursor: pointer;
    animation-delay: 0.5s;
    animation-duration: 2.5s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-duration: 2.5s;


}

#lock_mod {
    animation-delay: 1s;
    animation-duration: 2s;
    -webkit-animation-delay: 1s;;
    -webkit-animation-duration: 2s;
    -moz-animation-delay: 1s;;
    -moz-animation-duration: 2s;
}

#sleep_mod{

    animation-delay: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1.5s;
    -moz-animation-delay: 1.5s;
    -moz-animation-duration: 1.5s;
}

#close_mod {

    animation-delay: 2s;
    animation-duration: 1s;
    -webkit-animation-delay: 2s;
    -webkit-animation-duration: 1s;
    -moz-animation-delay: 2s;
    -moz-animation-duration: 1s;
}

img:hover {
    animation: xie 3s;
    -webkit-animation: xie 3s infinite; /* Safari and Chrome */

}

/*摇摆加缩放动画*/
@keyframes xie {
    0% {
        transform: rotate(8deg) scale(1)
    }
    25% {
        transform: rotate(8deg) scale(0.9)
    }
    50% {
        transform: rotate(8deg) scale(1.1)
    }
    70% {
        transform: rotate(8deg) scale(0.9)
    }
    100% {
        transform: rotate(8deg) scale(1)
    }
}

/*摇摆动画*/
@keyframes xie2 {
    0% {
        transform: rotate(0deg) skew(0deg)
    }

    25% {
        transform: rotate(8deg)skew(8deg)
    }

    75% {
        transform: rotate(-8deg)skew(-8deg)
    }
    100% {
        transform: rotate(0deg)skew(0deg)
    }
}

#home img:hover + a {
    color: #fff;



}

#home a:hover {
    color: white;
    text-decoration: none;

}

#citybar {
    background-color: #c2b2ff;
    animation: xie2 10s linear 3.5s infinite ;
    -webkit-animation: xie2 10s linear 3.5s infinite ; /* Safari and Chrome */

}

#city_1, #city_4 {
    background-color: #5bc0de;
    animation: xie2   10s linear 3.5s infinite;
    -webkit-animation: xie2  10s linear 3.5s infinite; /* Safari and Chrome */

}

#liv {
    background-color: #9999FF;
}

#kic {
    background-color: #6abb88;

}

#bed {
    background-color: #5bc0de;
}

#bath {
    background-color: #d193ff;
    margin-bottom: 300px;
}
