body ,div,nav { margin:0;padding: 0 ;text-align: center}

body {
    padding: 0;
    margin: 0 auto;
    margin-top: 20px;
    background-color: cornsilk;
}


#content{
    margin: 0 auto;
    width: 1280px;

    background: url("../image/bg1.jpg") #f8f6e9;
    border-radius: 20px;
    position: relative;
}
nav{
   padding-bottom: 3px;
    background-color: cornsilk;

}
nav ul {

    height: 36px;
}
nav ul li
{
    list-style: none;
    float: left;
    margin-left: 50px;
    line-height: 36px;
    font-size:20px;

}
#time
{ font-size:20px;
    float:right;
    line-height: 36px;
   height: 36px;

}
nav ul li:hover
{
    color: #2638ff;
    font-weight: bolder;
    cursor: pointer;

}
#main
{

    margin: 0 auto;
    border: #000 solid 6px;
    padding: 30px;
    background-color: #81C3E2;
}
#pause_bar
{
    height: 356px;
    width: 400px;
    background :url("../image/pause.jpg")  #81C3E2;
    z-index: 100;
    position: absolute;
    top: 50%;
    left:50%;
    margin-left: -200px;
    margin-top: -178px;
    border-radius: 20px;
    box-shadow: black 15px 15px 50px;
    cursor: pointer;
    display: none;


}




#main div>div{

    height: 30px;width: 30px;
    float: left;
    cursor:pointer;
}
#wit_bar
{
    width: 234px;
    height: 300px;

    position: absolute;
    left: 0;
    border: #000 solid 2px;


}
#bla_bar
{
    width: 233px;
    height: 300px;

    position: absolute;
    right: 0;
    border: #000 solid 2px;


}
.yellow{
    background-color: yellow;
}


/*棋盘原图*/
.none{
    background: url("../image/cross50x50.png ") ;
}
/*黑子图*/
.black
{
  background: url("../image/black50x50.png");
}
/*白子图*/
.white
{
    background: url("../image/white50x50.png");
}
